body { background: #4691d5; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 18px; display: flex; }
.block-cache-0 { color: #8b3f83; font-size: 15px; margin-bottom: 5px; }
.block-router-1 { color: #bb3fdd; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #1012a9; font-size: 15px; margin-bottom: 5px; }
.block-cluster-3 { color: #877c78; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #7bb31e; font-size: 16px; margin-bottom: 5px; }
.block-filter-5 { color: #e98813; font-size: 14px; margin-bottom: 5px; }
.block-metrics-6 { color: #ca7022; font-size: 21px; margin-bottom: 5px; }
.block-filter-7 { color: #38f9da; font-size: 16px; margin-bottom: 5px; }